name: Lint the code
on:
  push:
    branches:
    - main
    - tests
  pull_request:
    branches:
    - main
    - tests
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24.x'
    - uses: actions/checkout@v4
    - name: Lint the server
      run: |
        npm install --prefix server
        npm run lint --prefix server
    - name: Lint the testrunner
      run: |
        npm install --prefix testrunner
        npm run lint --prefix testrunner
